!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fei/style.css')
    link(rel='stylesheet', href='/stylesheets/fei/typography.css')
    link(rel='stylesheet', href='/stylesheets/fei/overlay.css')
    link(rel='stylesheet', href='/stylesheets/fei/ui.css')
    link(rel='stylesheet', href='/stylesheets/fei/buttons.css')
    link(rel='stylesheet', href='/stylesheets/fei/progressbars.css')
    script(type='text/javascript',src='/javascripts/jquery-1.4.2.min.js')
    script(type='text/javascript',src='/javascripts/fei/toogleBtns.js')
    script(type='text/javascript',src='/javascripts/fei/progressbars.js')
    script(type='text/javascript',src='/javascripts/fei/progressBar.jQuery.js')
    script(type='text/javascript',src='/javascripts/fei/toggleButton.jQuery.js')
    script(type='text/javascript',src='/javascripts/fei/app.js')
  body
  section#wrapper!= body